@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: rgb(53, 83, 62);

}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: "Kanit", sans-serif;
    ;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: "Oswald", sans-serif;
    ;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-size: cover;
}

.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#masterPlay {
    font-size: 40px;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#id1 {
    font-size: 40px;
}

#id2 {
    font-size: 40px;
}

#myBar {
    width: 80vw;
    text-align: center;
    cursor: pointer;

}

.songItem {
    height: 50px;
    display: flex;
    background-color: rgb(219, 206, 206);
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}

.songItem img {
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;

}

.timestamp i {
    cursor: pointer;
}

.songinfo {
    margin-top: 50px;
    position: absolute;
    left: 10vw;
    font-family: "Oswald", sans-serif;
    ;
}

.songinfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}